openapi: 3.0.3
info:
  title: API Welyne - OpenAPI 1.0
  description: |-
    This is a sample API Welyne based on the OpenAPI 3.0 specification.
  version: 1.0.1
servers:
  - url: https://welyne-api.io/api/v1
tags:
  - name: Runsheet
    description: Everything about your Runsheets
paths:
  /runsheet-proposal:
    post:
      tags:
        - Runsheet
      summary: Make runsheet proposal
      parameters:
        - name: X-Correlation-ID
          in: header
          description: unique identifier value that is attached to requests and messages that allow reference to a particular transaction or event chain
          schema:
            type: string
      description: Make runsheet proposal
      operationId: makeRunsheet
      requestBody:
        description: Propose one or more runsheets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunsheetProposalBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/RunsheetProposalBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RunsheetProposalBody'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunsheetProposalResponse'          
            application/xml:
              schema:
                $ref: '#/components/schemas/RunsheetProposalResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - api_key:
            - write:runsheets
            - read:runsheets
components:
  schemas:
    RunsheetProposalBody:
      type: array
      items:
        required:
          - uid
          - type
          - vehicleType
          - productType
          - tasks
        type: object
        properties:
          uid:
            type: string
            example: PP-MIS-MSG469682687
          status:
            type: string
            enum:
              - NOT_STARTED
          type:
            type: string
            enum:
              - MSG
              - NT
              - TR
          vehicleType:
            type: string
            enum: 
             - SCOOTER
          productType:
            type: string
            enum: 
              - FRAGILE
              - FOOD
          tasks:
            type: array
            items:
              type: object
              properties:
                _id:
                  type: string
                  example: 64b9212c393c1e0020319d59
                action:
                  type: string
                  enum: 
                    - PICKUP
                    - DELIVERY
                status:
                  type: string
                  enum: 
                    - NOT_STARTED
                stops:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        enum: 
                          - PICKUP
                          - DELIVERY
                      address:
                        type: object
                        properties:
                          place_id:
                            type: string
                            example: ChIJBegeFFVWlQ4RZH5q8xIdHek
                          region:
                            type: string
                            example: Saint-Louis Region
                          address:
                            type: string
                            example: Saint Louis, Saint-Louis Region, Senegal
                      items:
                        type: array
                        items:
                          properties:
                            product:
                              type: object
                              properties:
                                parcelUid:
                                  type: string
                                  example: PP-O5547776-1510
                                parcelVolume:
                                  type: number
                                  example: 18
    RunsheetProposalResponse:
      type: object
      properties:
        status:
          type: string
          enum: 
            - success
            - error
        code:
          type: integer
          example: 200
        message:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              runsheet1:
                type: array
                items:
                  type: string
                  example: 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59
              runsheet2:
                type: array
                items:
                  type: string
                  example: 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59
              runsheet3:
                type: array
                items:
                  type: string
                  example: 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59, 64b9212c393c1e0020319d59
      xml:
        name: pet
  requestBodies:
    RunsheetProposal:
      description: Pet object that needs to be added to the store
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RunsheetProposalBody'
        application/xml:
          schema:
            $ref: '#/components/schemas/RunsheetProposalBody'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header